<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>LIST APP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">買い物リストアプリ</h2>
        <h1 class="title">LIST APP</h1>
        <p class="description">
          LIST APPは、買い物をリストアップするサービスです。
          <br class="sp-none" />
          買いたいものをリストに追加してみましょう。
        </p>
        <a class="index-button" href="/index">一覧を見る</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png" alt="" />
      </div>
    </div>
  </body>
</html>
